{{> topnav}}
{{> sidebar}}
 <!-- Content -->
    <div class="pusher">
        <div class="main-content">
            <br>
            {{> breadcrumb}}
            <div class="ui grid stackable padded">
                <div class="column">
                    <div class="ui segment">                                              
                        <h2 class="ui dividing header">Certificados</h2>
                        {{#ifCond user.estado_usuario '==' 1}}
                        <a class="ui rigth corner label green comentario">
                            <i class="tiny checkmark icon"></i>
                        </a>                        
                        <div class="ui special popup">
                           Aprovado
                        </div>
                        {{/ifCond}}
                        {{#ifCond user.estado_usuario '==' 2}}
                        <a class="ui rigth corner label orange comentario">
                            <i class="tiny spinner icon"></i>
                        </a>                        
                        <div class="ui special popup">
                           Em Analise
                        </div>
                        {{/ifCond}}
                        {{#ifCond user.estado_usuario '==' 3}}
                        <a class="ui rigth corner label red comentario">
                            <i class="tiny attention icon"></i>
                        </a>                        
                        <div class="ui special popup">
                           Reprovado
                        </div>
                        {{/ifCond}}
                        <div class="ui items">
                            <div class="item">
                              <div class="image">
                                <img src="https://semantic-ui.com/images/wireframe/image.png">
                              </div>
                              <div class="content">
                                <a class="header">{{user.nome}}</a>
                                <div class="meta">
                                  <span>Curso: {{user.curso}}</span><br>
                                  <span>Semestre: {{user.semestre}}</span><br>                                  
                                </div>
                                <div class="description">
                                  <p></p>
                                </div>
                                {{!-- <div class="extra">
                                    <button class="mini ui button blue">Editar</button>
                                </div> --}}
                              </div>
                            </div>
                        </div>
                        <table class="ui celled table">
                            <thead>
                              <tr>
                                <th>Status</th>
                                <th>Nome Certificado</th>
                                <th>Valor</th>
                                <th>Tipo</th>                            
                                <th>Foto</th>                                
                                <th>Ações</th>                            
                              </tr>
                            </thead>
                            <tbody class="tBody">   
                            {{#each certificados}}
                            {{#ifCond this.status '==' 1}}
                            <tr data-id="{{this.id}}" class="positive">
                            {{/ifCond}}
                            {{#ifCond this.status '==' 2}}
                            <tr data-id="{{this.id}}" class="warning">
                            {{/ifCond}}
                            {{#ifCond this.status '==' 3}}
                            <tr data-id="{{this.id}}" class="error">
                            {{/ifCond}}                            
                                {{!-- Aprovado --}}
                                {{#ifCond this.status '==' 1}}
                                <td width="3%" class="center aligned" data-tooltip="Aprovado" data-position="top center" data-variation="mini">
                                  <i class="icon checkmark"></i>
                                </td>
                                {{/ifCond}}
                                {{!-- Em Analise --}}
                                {{#ifCond this.status '==' 2}}
                                <td width="3%" class="center aligned" data-tooltip="Em Analise" data-position="top center" data-variation="mini">
                                  <i class="orange icon spinner"></i>
                                </td>
                                {{/ifCond}}
                                {{!-- Reprovado --}}
                                {{#ifCond this.status '==' 3}}
                                <td width="3%" class="center aligned" data-tooltip="Reprovado" data-position="top center" data-variation="mini">
                                  <i class="icon attention"></i>
                                </td>
                                {{/ifCond}}
                                <td>{{this.nome_certificado}}</td>
                                <td>{{this.valor_certificado}}</td>                                
                                <td>{{this.tipo_certificado}}</td>                                
                                <td width="5%" class="center aligned">
                                    <a>
                                        <i class="large file image icon mostrarImagemCertificado" data-foto="http://localhost:3000/tmp/uploads/{{this.picture_certificado}}"></i>
                                    </a>                                    
                                </td>                                                          
                                <td width="8%" class="center aligned">
                                    <div class="ui tiny icon buttons">
                                        <button data-id="{{this.id}}" class="ui button blue editarCertificado">
                                          <i class="edit icon"></i>
                                        </button>
                                        
                                        <button data-id="{{this.id}}" class="ui button red deletarCertificado">
                                          <i class="trash icon"></i>
                                        </button>
                                    </div>
                                </td>                                
                            </tr>       
                            {{/each}}                             
                                                 
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                  <th colspan="7">
                                    <div class="ui right floated small primary labeled icon button novoCertificado">
                                      <i class="file alternate icon"></i> Novo Certificado
                                    </div>
                                  </th>
                                </tr>
                              </tfoot>
                        </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
<!-- Content -->   

{{!-- Modals --}}
<div class="ui modal tiny criar">
  <div class="header">Novo Certificado</div>
  <div class="content">
    <p></p>
    <form class="ui form cadastrarCertificado" enctype="multipart/form-data">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="nome_certificado" placeholder="Nome Certificado">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="number" name="valor_certificado" placeholder="Valor Certificado">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="file" name="file" placeholder="Imagem certificado">
          </div>
        </div>
        <div class="field">
          <select class="ui dropdown" name="tipo_certificado">
            {{#each tipos_certificados}}
            <option value="{{this.id}}">{{this.nome_tipo_certificado}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Cancelar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Criar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

<div class="ui mini modal delete">
  <div class="header">Delete este Certificado</div>
  <div class="content">
    <p>Tem certeza que deseja excluir esse certificado</p>
  </div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Cancelar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Deletar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

<div class="ui basic modal mostrarImagem">  
  <div class="image">
      <img class="modificarImagem" src="" width="825" height="500">
    </div>
</div>