{{> topnav}}
{{> sidebar}}
 <!-- Content -->
    <div class="pusher">
        <div class="main-content">
            </br>   
            {{> breadcrumb}}           
            {{#ifCond user.tipo_usuario '<=' 2}}
            <div class="ui grid stackable padded">
                <div class="four wide computer eight wide tablet sixteen wide mobile column">
                    <div class="ui fluid card">
                        <div class="content center aligned">
                            <div class="header">
                                <div class="ui header">{{total_certificados}}</div>
                            </div>
                            <div class="meta">Certificados</div>
                        </div>
                    </div>
                </div>
                <div class="four wide computer eight wide tablet sixteen wide mobile column">
                    <div class="ui fluid card">
                        <div class="content center aligned">
                            <div class="header">
                                <div class="ui header">{{total_alunos}}</div>
                            </div>
                            <div class="meta">Alunos</div>
                        </div>
                    </div>
                </div>
                <div class="four wide computer eight wide tablet sixteen wide mobile column">
                    <div class="ui fluid card">
                        <div class="content center aligned">
                            <div class="header">
                                <div class="ui header">{{alunos_aprovados}}</div>
                            </div>
                            <div class="meta">Alunos Aprovados</div>
                        </div>
                    </div>
                </div>
                <div class="four wide computer eight wide tablet sixteen wide mobile column">
                    <div class="ui fluid card">
                        <div class="content center aligned">
                            <div class="header">
                                <div class="ui header">{{alunos_reprovados}}</div>
                            </div>
                            <div class="meta">Alunos Reprovados</div>
                        </div>
                    </div>
                </div>            
            </div>  
            {{/ifCond}}         
            <div class="ui grid stackable padded">
                <div class="column">
                    <div class="ui segment">
                        {{#ifCond user.tipo_usuario '==' 3}}
                        {{#ifCond user.flag '==' 1}}                        
                            <div class="ui message warning">
                                <div class="header">
                                    Leia Importante
                                </div>
                                <p>Essa conta foi desativada, voce ainda tera acesso aos seus certificados cadastrados, mas não podera inserir novos certificados ou editar os existentes.</p>
                            </div>
                        {{/ifCond}}
                        <h4 class="ui horizontal divider header">
                            <i class="table icon"></i>Seus Certificados
                        </h4>
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Nome Certificado</th>
                                    <th>Horas</th>
                                    <th>Tipo</th>                         
                                    <th>Atualizado em</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each certificados}}
                                    <tr id_certificado="{{this.id}}">
                                        {{!-- Aprovado --}}
                                        {{#ifCond this.status '==' 1}}
                                        <td width="3%" class="center aligned positive" data-tooltip="Aprovado" data-position="top center" data-variation="mini">
                                            <i class="icon checkmark"></i>
                                        </td>
                                        {{/ifCond}}
                                        {{!-- Em Analise --}}
                                        {{#ifCond this.status '==' 2}}
                                        <td width="3%" class="center aligned warning" data-tooltip="Em Analise" data-position="top center" data-variation="mini">
                                            <i class="orange icon spinner"></i>
                                        </td>
                                        {{/ifCond}}
                                        {{!-- Reprovado --}}
                                        {{#ifCond this.status '==' 3}}
                                        <td width="3%" class="center aligned error" data-tooltip="Reprovado" data-position="top center" data-variation="mini">
                                            <i class="icon attention"></i>
                                        </td>
                                        {{/ifCond}}
                                        {{!-- Em Analise --}}
                                        {{#ifCond this.status '==' 4}}
                                        <td width="3%" class="center aligned warning" data-tooltip="Pré-aprovado" data-position="top center" data-variation="mini">
                                            <i class="orange icon spinner"></i>
                                        </td>
                                        {{/ifCond}}
                                        {{#ifCond this.status '==' 4}}
                                            <td><a class="ui mini green label" style="
                                    margin-right: 5px;" data-tooltip="Este certficado pode sofrer alterações" data-position="right center" data-variation="very wide">Pré-Aprovado</a>{{this.nome_certificado}}</td>
                                        {{/ifCond}}
                                        {{#ifCond this.status '==' 3}}
                                            <td><a class="ui mini red label" style="
                                    margin-right: 5px;" data-tooltip="{{this.comentario_certificado}}" data-position="right center" data-variation="very wide">Observação</a>{{this.nome_certificado}}</td>
                                        {{/ifCond}}
                                        {{#ifCond this.status '!=' 4}}
                                            {{#ifCond this.status '!=' 3}}
                                                <td>{{this.nome_certificado}}</td>
                                            {{/ifCond}}
                                        {{/ifCond}}
                                        
                                        <td>{{this.valor_certificado}}</td>
                                        <td>{{this.tipo_certificado}}</td>                               
                                        <td width="15%">{{this.criado_em}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{/ifCond}}
                        {{#ifCond user.tipo_usuario '<=' 2}}
                        <h4 class="ui horizontal divider header">
                            <i class="table icon"></i>Certificado dos Alunos
                        </h4>
                        <table class="ui celled table Analise">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Nome Certificado</th>
                                    <th>Horas</th>
                                    <th>Tipo</th>
                                    <th>Criado Por</th>                            
                                    <th>Atualizado em</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each certificados}}
                                    {{#ifCond this.status '==' 2}}
                                    <tr id_certificado="{{this.id}}">
                                        <td width="5%" class="center aligned warning" data-tooltip="Em Analise" data-position="top center" data-variation="mini">
                                            <i class="orange icon spinner"></i>
                                        </td>
                                        <td>{{this.nome_certificado}}</td>
                                        <td>{{this.valor_certificado}}</td>
                                        <td>{{this.tipo_certificado}}</td>
                                        <td width="15%"><a href="#" class="redirecionaTabela" data-id="{{this.id_aluno}}">{{this.nome_usuario}}</a></td>                                  
                                        <td width="15%">{{this.criado_em}}</td>
                                    </tr>
                                    {{/ifCond}}
                                {{/each}}
                            </tbody>
                        </table>
                        {{/ifCond}}
                      </div>
                </div>
            </div>
            {{#ifCond user.tipo_usuario '<=' 2}}
                <div class="ui grid stackable padded">
                    <div class="column">
                        <div class="ui segment">
                            <h4 class="ui horizontal divider header">
                                <i class="table icon"></i>Certificado dos Alunos Pré-Aprovados
                            </h4>
                            <table class="ui celled table preAprovado">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Nome Certificado</th>
                                        <th>Horas</th>
                                        <th>Tipo</th>
                                        <th>Criado Por</th>                            
                                        <th>Atualizado em</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each certificados}}
                                        {{#ifCond this.status '==' 4}}
                                        <tr id_certificado="{{this.id}}">
                                            <td width="5%" class="center aligned warning" data-tooltip="Em Analise" data-position="top center" data-variation="mini">
                                                <i class="orange icon spinner"></i>
                                            </td>
                                            <td><a class="ui mini green label" style="
                                    margin-right: 5px;" data-tooltip="Este certficado pode sofrer alterações" data-position="right center" data-variation="very wide">Pré-Aprovado</a>{{this.nome_certificado}}</td>
                                            <td>{{this.valor_certificado}}</td>
                                            <td>{{this.tipo_certificado}}</td>
                                            <td width="15%"><a href="#" class="redirecionaTabela" data-id="{{this.id_aluno}}">{{this.nome_usuario}}</a></td>                                  
                                            <td width="15%">{{this.criado_em}}</td>
                                        </tr>
                                        {{/ifCond}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>    
            {{/ifCond}}  
            {{> footer}}            
        </div>
    </div>
      
<!-- Content -->   