{{> topnav}}
{{> sidebar}}

<div class="pusher">
    <div class="main-content">
        </br>   
        {{> breadcrumb}}           
        <div class="ui grid stackable padded">
            <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                <div class="ui segment">
                    <div class="ui column centered grid">
                        <div class="row">
                            <div class="ui search">
                                <div class="ui big icon input">
                                    <input class="prompt" type="text" placeholder="Procurar Alunos...">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                        <h4 class="ui horizontal divider header">
                            <i class="table icon"></i>
                            Aluno
                        </h4>
                    </div>  
                    {{!-- Comeco Tabela --}}
                    
                    <div class="ui segment">
                        {{#if aluno}}
                        {{#ifCond aluno.estado '==' 1}}
                        <a class="ui rigth corner label green comentario">
                            <i class="tiny checkmark icon"></i>
                        </a>                        
                        <div class="ui special popup">
                           Aprovado
                        </div>
                        {{/ifCond}}
                        {{#ifCond aluno.estado '==' 2}}
                        <a class="ui rigth corner label orange comentario">
                            <i class="tiny spinner icon"></i>
                        </a>                        
                        <div class="ui special popup">
                           Em Analise
                        </div>
                        {{/ifCond}}
                        {{#ifCond aluno.estado '==' 3}}
                        <a class="ui rigth corner label red comentario">
                            <i class="tiny attention icon"></i>
                        </a>                        
                        <div class="ui special popup">
                           Reprovado
                        </div>
                        {{/ifCond}}
                        <div class="ui items">
                            <div class="item">
                              <div class="image">
                                <img src="https://semantic-ui.com/images/wireframe/image.png">
                              </div>
                              <div class="content">
                                <a class="header dataid" data-id="{{aluno.id}}">{{aluno.nome}}
                                  {{#ifCond aluno.flag '==' 1}}
                                    <div class="ui red horizontal label">Aluno Desativado</div>
                                  {{/ifCond}}  
                                </a>                                
                                <div class="meta">
                                  <span>Curso: {{aluno.curso}}</span><br>
                                  <span>Semestre: {{aluno.semestre}}</span><br> 
                                  <span class="getHorasAluno" data-horas="{{aluno.horas}}">Horas a Completar: {{aluno.horas}}</span><br>   
                                  <span>Email: {{aluno.email}}</span><br>                                         
                                </div>
                                <div class="description">
                                  <p></p>
                                </div>
                                <div class="extra">
                                    {{#ifCond aluno.estado '==' 2}}
                                      <div class="ui tiny icon buttons">             
                                        <button data-id="{{aluno.id}}" class="ui button teal alterarAluno">
                                          <i class="tag icon"></i>
                                        </button> 
                                        <button data-id="{{aluno.id}}" class="ui button blue editarSemestre">
                                        <i class="edit icon"></i>                                        
                                      </button>   
                                    </div>
                                    {{/ifCond}}
                                    {{#ifCond aluno.estado '!=' 2}}
                                    <div class="ui tiny icon buttons">
                                      <button class="ui button red" data-tooltip="Este aluno não pode ser mais alterado" data-position="top center">
                                        <i class="attention icon"></i>
                                      </button>  
                                      <button data-id="{{aluno.id}}" class="ui button yellow habilitarEdicaoAluno" data-tooltip="Habilitar Edição" data-position="top center">
                                        <i class="icon undo"></i>
                                      </button>                                       
                                    </div>
                                    {{/ifCond}} 
                                    {{#ifCond aluno.flag '==' 0}}                                      
                                      <button data-id="{{aluno.id}}" data-action="1" class="ui labeled icon tiny red button setEstadoAluno">
                                       <i class="close icon icon"></i>Desativar Aluno
                                      </button>                                      
                                    {{/ifCond}}
                                    {{#ifCond aluno.flag '==' 1}}                                      
                                      <button data-id="{{aluno.id}}" data-action="0" class="ui labeled icon tiny green button setEstadoAluno">
                                       <i class="check icon"></i>Ativar Aluno
                                      </button>                                      
                                    {{/ifCond}}
                                    <br>
                                    {{#ifCond aluno.estado '!=' 1}}
                                      {{#ifCond aluno.estado '!=' 3}}
                                        {{#ifCond total '>=' aluno.horas}}
                                          <div class="ui green horizontal label">Aluno pré aprovado pelo sistema</div>
                                        {{/ifCond}}
                                      {{/ifCond}}
                                    {{/ifCond}}
                                    {{#ifCond aluno.estado '==' 1}}
                                      <div class="ui green horizontal label">Aluno Aprovado</div>
                                    {{/ifCond}}
                                    {{#ifCond aluno.estado '==' 3}}
                                      <div class="ui red horizontal label">Aluno Reprovado</div>
                                    {{/ifCond}}                
                                </div> 
                              </div>
                            </div>
                        </div>
                        <table class="ui celled table">
                            <thead>
                              <tr>
                                <th>Status</th>
                                <th>Nome Certificado</th>
                                <th>Pontos</th>
                                <th>Tipo</th>                            
                                <th>Foto</th>                                                           
                                <th>Ações</th>                           
                              </tr>
                            </thead>
                            <tbody class="tBody">   
                            {{#each certificados}}
                            {{#ifCond this.estado '==' 1}}
                            <tr data-id="{{this.id}}" class="positive">
                            {{/ifCond}}
                            {{#ifCond this.estado '==' 2}}
                            <tr data-id="{{this.id}}" class="warning">
                            {{/ifCond}}
                            {{#ifCond this.estado '==' 3}}
                            <tr data-id="{{this.id}}" class="error">
                            {{/ifCond}}  
                            {{#ifCond this.estado '==' 4}}
                            <tr data-id="{{this.id}}" class="warning">
                            {{/ifCond}}                           
                                {{!-- Aprovado --}}
                                {{#ifCond this.estado '==' 1}}
                                <td width="3%" class="center aligned" data-tooltip="Aprovado" data-position="top center" data-variation="mini">
                                  <i class="icon checkmark"></i>
                                </td>
                                {{/ifCond}}
                                {{!-- Em Analise --}}
                                {{#ifCond this.estado '==' 2}}
                                <td width="3%" class="center aligned" data-tooltip="Em Analise" data-position="top center" data-variation="mini">
                                  <i class="orange icon spinner"></i>
                                </td>
                                {{/ifCond}}
                                {{!-- Reprovado --}}
                                {{#ifCond this.estado '==' 3}}
                                <td width="3%" class="center aligned" data-tooltip="Reprovado" data-position="top center" data-variation="mini">
                                  <i class="icon attention"></i>
                                </td>
                                {{/ifCond}}
                                {{!-- Pré Aprovado --}}
                                {{#ifCond this.estado '==' 4}}
                                <td width="3%" class="center aligned" data-tooltip="Em Analise" data-position="top center" data-variation="mini">
                                  <i class="orange icon spinner"></i>
                                </td>
                                {{/ifCond}}
                                {{#ifCond this.estado '==' 3}}
                                <td><a class="ui mini red label" style="
                                    margin-right: 5px;" data-tooltip="{{this.comentario}}" data-position="right center" data-variation="very wide">Observação</a>{{this.nome}}</td>
                                {{/ifCond}}
                                {{#ifCond this.estado '==' 4}}
                                <td><a class="ui mini green label" style="
                                    margin-right: 5px;" data-tooltip="Este certficado pode sofrer alterações" data-position="right center" data-variation="very wide">Pré-Aprovado</a>{{this.nome}}</td>
                                {{/ifCond}}
                                {{#ifCond this.estado '!=' 3}}
                                  {{#ifCond this.estado '!=' 4}}
                                    <td>{{this.nome}}</td>
                                  {{/ifCond}}
                                {{/ifCond}}
                                <td>{{this.valor}}</td>                                
                                <td data-type="{{this.numero_tipo}}">{{this.tipo}}</td>                                
                                <td width="5%" class="center aligned">
                                    <a>
                                        <button class="ui tiny circular icon blue button mostrarImagemCertificado" data-type="{{this.mimetype}}"  data-foto="{{this.foto}}">
                                          <i class="file image outline icon"></i>
                                        </button>
                                    </a>                                    
                                </td>
                                {{#ifCond this.estado '!=' 2}}
                                   {{#ifCond this.estado '!=' 4}}
                                    <td width="8%" class="center aligned" >
                                      <div class="ui tiny icon buttons" >
                                        <button class="ui button red" data-tooltip="Esse certificado não pode mais ser alterado" data-position="left center">
                                          <i class="attention icon"></i>
                                        </button>  
                                        <button data-id="{{this.id}}" class="ui button yellow habilitarEdicao" data-tooltip="Habilitar Edição" data-position="left center">
                                          <i class="icon undo"></i>
                                        </button>                                       
                                      </div>  
                                    </td>
                                  {{/ifCond}} 
                                {{/ifCond}}     
                                {{#ifCond this.estado '==' 2}}                                                     
                                <td width="8%" class="center aligned">
                                    <div class="ui tiny icon buttons">   
                                        <button data-tooltip="Pré-Aprovar o Certificado" data-position="left center" data-id="{{this.id}}" class="ui button teal preAprovar">
                                          <i class="check circle icon"></i>
                                        </button>                                     
                                        <button data-id="{{this.id}}" class="ui button blue editarCertificado">
                                          <i class="edit icon"></i>
                                        </button>
                                        
                                        <button data-id="{{this.id}}" class="ui button green aprovarC">
                                          <i class="checkmark icon"></i>
                                        </button>  

                                        <button data-id="{{this.id}}" class="ui button red reprovarC">
                                          <i class="close icon"></i>
                                        </button>                                                    
                                    </div>
                                </td> 
                                {{/ifCond}} 
                                {{#ifCond this.estado '==' 4}}                                                     
                                <td width="8%" class="center aligned">
                                    <div class="ui tiny icon buttons">                                      
                                        <button data-id="{{this.id}}" class="ui button blue editarCertificado">
                                          <i class="edit icon"></i>
                                        </button>
                                        
                                        <button data-id="{{this.id}}" class="ui button green aprovarC">
                                          <i class="checkmark icon"></i>
                                        </button>  

                                        <button data-id="{{this.id}}" class="ui button red reprovarC" >
                                          <i class="close icon"></i>
                                        </button>                                                        
                                    </div>
                                </td> 
                                {{/ifCond}}                               
                            </tr>       
                            {{/each}}                             
                                                 
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                  <th colspan="7">
                                    <div class="ui right floated small green labeled icon button" data-tooltip="Somado apenas certificados aprovados" data-position="left center">
                                      <i class="table icon"></i> Pontos Totais: {{total}}
                                    </div>
                                    <div class="ui right floated small teal labeled icon button" data-tooltip="Somado pré-aprovados e aprovados" data-position="left center">
                                      <i class="table icon"></i> Pontos Parciais: {{parcial}}
                                    </div>                                    
                                  </th>
                                </tr>
                              </tfoot>
                        </table>
                        {{/if}}
                    </div>
                    
                    {{!-- Termino Tabela --}}
                </div>                
            </div>                     
        </div> 
        {{> footer}}         
    </div>
</div>


<div class="ui basic modal mostrarImagem">  
    <img class="ui fluid image modificarImagem" src="">
</div>

<div class="ui basic modal mostrarPDF">
  <iframe class="modificarPDF" src="" style="width: 100%; height: 700px; border: 0px;" frameborder="0"></iframe>
</div>

<div class="ui mini modal alterarEstado">
  <div class="header">Reprovar Certificado</div>
  <div class="content">
    <form class="ui form alterarEstado">
      
        <div class="field">
          {{!-- <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="textarea" name="comentario" placeholder="Comentario">
          </div> --}}
          <label>Comentario</label>
          <textarea name="comentario"></textarea>
        </div>
      
    </form>    
  </div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Cancelar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Reprovar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

<div class="ui mini modal habilitarEdicao">
  <div class="header">Deseja Habilitar a edição</div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Cancelar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Habilitar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

<div class="ui mini modal alterarAluno">
  <div class="header">Deseja Aprovar ou Reprovar o aluno</div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Reprovar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Aprovar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

<div class="ui mini modal habilitarEdicaoAluno">
  <div class="header">Deseja Habilitar a edição</div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Cancelar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Habilitar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

<div class="ui modal tiny editar">
  <div class="header">Editar Certificado</div>
  <div class="content">
    <p></p>
    <form class="ui form editarCertificadoForm">
      <div class="ui stacked segment">        
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="number" name="new_valor_certificado" placeholder="Valor Certificado">
          </div>
        </div>
        <div class="field">
          <select class="ui dropdown" name="new_tipo_certificado">
            {{#each TipoCertificado}}
            <option value="{{this.id}}">{{this.nome}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Cancelar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Editar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

<div class="ui modal tiny editarSemestre">
  <div class="header">Editar Semestre</div>
  <div class="content">
    <form class="ui form editarSemestreForm">
      <div class="ui stacked segment">        
        <div class="field">
          <select class="ui fluid dropdown selection" tabindex="1" name="semestre_new">
            <option value="">Semestres</option>
            {{#each semestres}}
              {{#if this.selected}}
                <option value="{{this.id}}" selected>{{this.id}}</option>
              {{else}}
                <option value="{{this.id}}">{{this.id}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>  
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui cancel red left labeled icon button">
        Cancelar
      <i class="close icon"></i>
    </div> 
    <div class="ui approve positive left labeled icon button">
        Editar
      <i class="checkmark icon"></i>
    </div>   
  </div>
</div>

